<reservation-popup
  [isModelOpen]="isError"
  [textMsg]="errorMessage"
  (modelController)="onClosingModelPopup($event)"
></reservation-popup>

<div class="component-body">
  <div class="train">
    <ng-container [ngTemplateOutlet]="title"></ng-container>
    <ng-container>
      <form [formGroup]="seatMapForm" (ngSubmit)="onSubmit()">
        <ol class="main-ol">
          <li class="seat-row" *ngFor="let _seatRow of seatMapArray">
            <ol
              style="display: flex"
              class="seats-row"
              [formGroupName]="_seatRow"
            >
              <li
                class="main-ol"
                *ngFor="let _seat of getSeatMapping(_seatRow)"
              >
                <input
                  style="display: none"
                  class="seat"
                  type="checkbox"
                  [id]="_seatRow + _seat"
                  [formControlName]="_seat"
                />
                <label
                  class="seat-label"
                  [for]="_seatRow + _seat"
                  [innerHtml]="_seatRow + _seat"
                ></label>
              </li>
            </ol>
          </li>
        </ol>
      </form>
    </ng-container>
    <ng-container [ngTemplateOutlet]="inputButtons"></ng-container>
  </div>
</div>

<!-- Using no form template -->
<!-- <div class="component-body">
  <div class="train">
    <ng-container [ngTemplateOutlet]="title"></ng-container>
    <ng-container>
      <form [formGroup]="seatMapForm" (ngSubmit)="onSubmit()">
        <ol class="main-ol">
          <ng-container
            *ngFor="let _seatRow of seatMapArray"
            [ngTemplateOutlet]="trainseat"
            [ngTemplateOutletContext]="{
              _seatRowNumber: _seatRow
            }"
          ></ng-container>
        </ol>
      </form>
    </ng-container>
    <ng-container [ngTemplateOutlet]="inputButtons"></ng-container>
  </div>
</div> -->

<!-- Template for header -->
<ng-template #title>
  <div class="title">
    <h1>Please select ticket</h1>
  </div>
</ng-template>

<!-- Template for train row -->
<ng-template #trainseat let-seatRowNumber="_seatRowNumber">
  <li class="seat-row">
    <ol style="display: flex" class="seats-row">
      <ng-container
        *ngFor="let _seat of getSeatMapping(seatRowNumber)"
        [ngTemplateOutlet]="trainsingleseat"
        [ngTemplateOutletContext]="{
          _seatData: seatRowNumber + _seat
        }"
      ></ng-container>
    </ol>
  </li>
</ng-template>

<!-- Template for single seat -->
<ng-template #trainsingleseat let-seatData="_seatData">
  <li class="main-ol">
    <input style="display: none" class="seat" type="checkbox" [id]="seatData" />
    <label class="seat-label" [for]="seatData" [innerHtml]="seatData"></label>
  </li>
</ng-template>

<!-- Template for input buttons -->
<ng-template #inputButtons>
  <div class="inputConatiner">
    <input
      class="goback"
      type="submit"
      value="Go Back"
      (click)="onBackButton()"
    />
    <input class="submit" type="submit" value="Submit" (click)="onSubmit()" />
  </div>
</ng-template>
