@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.component-body {
  height: 98vh;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.title {
  text-align: center;
  padding: 10px;
}

.title h1 {
  font-size: 25px;
  font-weight: bold;
  padding: 10px 0px;
}

.train {
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  width: 550px;
  height: 630px;
  background-color: #ffffff;
  padding: 30px 30px;
}

.main-ol {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-basis: 80px;
}

.seat + .seat-label {
  background-color: #ccc;
  color: #fff;
  padding: 5px 10px;
  font-family: sans-serif;
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
  margin: 5px 10px 5px 10px;
  transition: all 0.6s ease;
}

.seat:checked + .seat-label {
  background-color: #0a0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(360deg);
}

.inputConatiner {
  padding: 10px 10px;
  display: flex;
  justify-content: flex-end;
}

.goback {
  cursor: pointer;
  background-color: #fd9b4d;
  color: #ffffff;
  font-size: 16px;
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 8px 15px;
  width: 100px;
  margin-right: auto;
}

.submit {
  cursor: pointer;
  background-color: #4796ff;
  color: #ffffff;
  font-size: 16px;
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 8px 15px;
  width: 100px;
}
