<div class="component-body">
  <div class="train">
    <ng-container [ngTemplateOutlet]="title"></ng-container>
    <ng-container>
      <ol class="main-ol">
        <ng-container
          *ngFor="let _seatRow of seatMapArray"
          [ngTemplateOutlet]="trainseat"
          [ngTemplateOutletContext]="{
            _seatRowNumber: _seatRow
          }"
        ></ng-container>
      </ol>
    </ng-container>
    <ng-container [ngTemplateOutlet]="inputButtons"></ng-container>
  </div>
</div>

<!-- Template for header -->
<ng-template #title>
  <div class="title">
    <h1>Please select ticket</h1>
  </div>
</ng-template>

<!-- Template for train row -->
<ng-template #trainseat let-seatRowNumber="_seatRowNumber">
  <li class="seat-row">
    <ol style="display: flex" class="seats-row">
      <ng-container
        *ngFor="let _seat of seatArray"
        [ngTemplateOutlet]="trainsingleseat"
        [ngTemplateOutletContext]="{
          _seatData: seatRowNumber + _seat
        }"
      ></ng-container>
    </ol>
  </li>
</ng-template>

<!-- Template for single seat -->
<ng-template #trainsingleseat let-seatData="_seatData">
  <li class="main-ol">
    <input style="display: none" class="seat" type="checkbox" [id]="seatData" />
    <label class="seat-label" [for]="seatData" [innerHtml]="seatData"></label>
  </li>
</ng-template>

<!-- Template for input buttons -->
<ng-template #inputButtons>
  <div class="inputConatiner">
    <input
      class="goback"
      type="submit"
      value="Go Back"
      (click)="onBackButton()"
    />
    <input class="submit" type="submit" value="Submit" (click)="onSubmit()" />
  </div>
</ng-template>
